@media (min-width: 992px) {

    /* ForNavbarSection */
    .navbar-expand-lg {
        padding: 0px 113px;
    } 
    .nav-item {
      padding: 23px 25px;
    }
}



@media (max-width: 991px) {
  /* ForNavbarSection */
  .nav-item {
    padding: 12px 0px;
  }

  .donate-item .nav-link {
    text-align: center;
  }

  /* Some buttons */

  .about-container .about-button .button {
      padding: 16px 20px;
      border-radius: 10px;
      margin-bottom: 2rem;

  }

  .activity-button .button {
    padding: 16px 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
  }

  .volunteer-button .button {
    padding: 16px 20px;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 2rem;
  }

  .event-button {
    margin-bottom: 2rem;
  }

  .scholarship-button .button {
    padding: 16px 20px;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 2rem;
    
  }
}



@media (min-width: 576px) {
    /* ForTestimonialSection */
    .testimonial-section .carousel-item {
      margin-right: 0;
      flex: 0 0 50%;
      display: block;
    }
    .testimonial-section .carousel-inner {
      display: flex;
    }
  }

  @media (max-width: 576px) {
    /* ForCountSection */
    .count-number {
      font-size: 14px;
      line-height: 28px;

    }
    
    .count-text {
      font-size: 12px;
      line-height: 16px;
    }
    
  }


  @media (min-width: 768px) {
    /* ForTestimonialSection */
    .testimonial-section .carousel-inner {
      padding: 1em;
    }
    .testimonial-section .carousel-control-prev,
    .testimonial-section .carousel-control-next {
      width: 3em;
      height: 3em;
      position: absolute;
      left: 1em;
      top: 60%;
      opacity: 1;
    }
    .testimonial-section .carousel-control-next {
      left: 4.5em;
    }
  }


  @media (min-width: 992px) and (max-width: 1199.98px) {

    /* ForNavbarSection */
    .nav-item {
      padding: 16px 16px;
    }
    .nav-item .nav-link {
      font-size: 14px;
    }

    /* ForBannerSection */

    .banner-section .banner-text {
      position: absolute;
      top: 112px;
      left: 68px;
    }
    .banner-section .banner-text .banner-header {
      margin-bottom: 1.3rem;
      font-size: 52px;
      line-height: 60px;
    }
    .banner-section .banner-text .banner-description {
      width: 543px;
      font-size: 15px;
    }
    .banner-section .banner-button {
      margin-top: 42px; 
    }
    .banner-section .banner-button .button {
        padding: 18px 32px;
        border-radius: 10px;
    }

  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    /* ForBannerSection */

    .banner-section .banner-text {
      position: absolute;
      top: 80px;
      left: 45px;
    }
    .banner-section .banner-text .banner-header {
      margin-bottom: 1rem;
      font-size: 40px;
      line-height: 42px;
    }
    .banner-section .banner-text .banner-description {
      width: 486px;
      font-size: 12px;
    }
    .banner-section .banner-button {
      margin-top: 28px; 
    }
    .banner-section .banner-button .button {
        padding: 15px 24px;
        border-radius: 8px;
    }
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    /* ForBannerSection */

    .banner-section .banner-text {
      position: absolute;
      top: 48px;
      left: 28px;
    }
    .banner-section .banner-text .banner-header {
      margin-top: .6rem;
      margin-bottom: .6rem;
      font-size: 32px;
      line-height: 32px;
    }
    .banner-section .banner-text .banner-description {
      width: 432px;
      font-size: 12px;
      line-height: 18px;
    }
    .banner-section .banner-button {
      margin-top: 18px; 
    }
    .banner-section .banner-button .button {
        padding: 12px 18px;
        border-radius: 7px;
    }
  }

  @media (min-width: 320px) and (max-width: 575.98px) {
    /* ForBannerSection */

    .banner-section .banner-text {
      position: absolute;
      top: 20px;
      left: 8px;
    }
    .banner-section .banner-text .banner-sub-header {
      font-size: 10px;
      letter-spacing: 1px;
      margin-bottom: 10px !important;
    }
    .banner-section .banner-text .banner-header {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 18px;
      line-height: 24px;
    }
    .banner-section .banner-text .banner-description {
      width: 290px;
      font-size: 8px;
      line-height: 12px;
    }
    .banner-section .banner-button {
      margin-top: 0px; 
    }
    .banner-section .banner-button .button {
        padding: 7px 12px;
        border-radius: 5px;
        font-size: 8px;
        letter-spacing: 1px;
        line-height: 12px;
    }
  }


  /* ******Some Extra MQs***** */

  @media (min-width: 992px) and (max-width: 1236px) {
    /* ForAboutSection */
  
      .about-container {
        padding: 60px 24px 0px 24px;
        height: auto;
      }
  
      .about-container .about-header {
        font-size: 24px;
        line-height: 28px;
      }
      .about-container .about-description {
        margin: 30px 0px 36px 0px;
        font-size: 14px;
        line-height: 26px;
      }
  
      .about-container .about-button .button {
          padding: 16px 20px;
          border-radius: 12px;
          font-size: 14px;
          line-height: 24px;
      }
  
    }
  
    @media (min-width: 992px) and (max-width: 1292px) {
      /* ForActivitySection */
    
        .activity-section-left{
          background-color: #ed213f;
          height: auto;
          padding: 48px 24px 0px 50px;
        }
        
        .activity-header {
          font-size: 24px;
          letter-spacing: 2px;
          line-height: 24px;
        }
        
        .activity-description {
          margin-top: 24px;
          font-size: 13px;
          line-height: 26px;
        }
        
        .activity-button {
          padding-top: 24px;
        }
        
        .activity-button .button {
          padding: 16px 21px;
          border-radius: 10px;
          font-size: 15px;
        }
  
      }
  
    /* ********* */