html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.padding-0 {
  padding: 0 !important;
}

/* Navbar Section Start */
.navbar .nav-item {
  padding: 0px 25px;
}
.navbar .nav-link {
  font-size: 16px;
  color: #333333;
  font-weight: 400;
  font-family: "Poppins";
}
.navbar .nav-item.donate-item {
  text-align: center;
}

.navbar .nav-link.donate-link {
  display: block;
  margin: 0 auto;
}

/* Navbar Section End */

/* ==============*****==================
=================*****=============== */
.topBanner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(23,24,74,0.9999999999999999) 0%, rgba(23,24,74,0.32999999999999996) 100%);
}
.banner-section{
  position: relative;
  display: inline-block;
  margin-bottom: -6px;
}
.banner-section img{
  width: 100%;
  height: auto;
  display: block;
}

.banner-section .banner-text {
  position: absolute;
  top: 188px;
  left: 112px;
}
.banner-section .banner-text .banner-smallText {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #27e9ff;
  font-weight: 500;
  font-family: "Poppins";
}

.banner-section .banner-text .largeText {
  margin-top: 1rem;
  margin-bottom: 1.6rem;
  font-size: 60px;
  letter-spacing: 3px;
  line-height: 65px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Source Serif Pro";
}
.banner-section .banner-text .largeText span {
  color: #27e9ff;
}
.banner-section .banner-text .banner-description {
  opacity: 0.851;
  width: 633px;
  height: 88px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
}
.banner-section .banner-button {
  margin-top: 54px;
 
}
.banner-section .banner-button .button {
    padding: 20px 37px 21px;
    border-radius: 12px;
    background-color: #ed213f;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
    text-decoration: none;
}

.mb-6 {
  margin-bottom: -6px;
}

/* Banner Section End */

/* ==============*****==================
=================*****=============== */

/* About Section Start */

.about-image-section {
  padding: 0px;
}
.about-image-section img {
  width: 100% !important;
  height: auto;
}

.about-container {
  padding-top: 100px;
  padding-bottom: 48px;;
  margin: 0 auto;
  width: 450px;
  height: auto;
}

.about-container .about-header {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 32px;
  color: #17184a;
  font-weight: 700;
  font-family: "Source Serif Pro";
}
.about-container .about-description {
  margin-top: 2.18rem;
  margin-bottom: 3.5rem;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #333333;
  font-weight: 400;
  font-family: "Poppins";
}

.about-container .about-button .button {
    padding: 19px 26px 19px;
    border-radius: 12px;
    background-color: #ffffff;
    border: 1px solid red;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 32px;
    color: #ff0000;
    font-weight: 500;
    font-family: "Poppins";
    text-decoration: none;
}
.about-container .about-button .button:hover {
  color: #ffffff;
  background-color: #ff0000;
}


/* About Section End */

/* ==============*****==================
=================*****=============== */

/* Activity Section Start */

.activity-section {
  background-color: #ed213f;
  width: 100%;
  max-height: auto;
  padding-left: 113px;
}
.activity-header {
  padding-top: 75px;
  padding-bottom: 35px;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Source Serif Pro";
}
.activity-description {
  width: 293px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
}
.activity-button {
  padding-bottom: 80px;
  padding-top: 34px;
}
.activity-button .button {
  padding: 22px 28px 21px;
  border-radius: 12px;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #333333;
  font-weight: 500;
  text-decoration: none;
  font-family: "Poppins";
}
.activity-button .button:hover {
  color: #ed213f;
}
.activityImage {
  width: 455px;
  height: 377px;
}
.activity-gradient-overlay {
  position: absolute;
  background-image: linear-gradient(180deg, rgba(23,24,74,0) 0%, rgba(23,24,74,0.8999999999999999) 100%);
}


/* Activity Section End */

/* ==============*****==================
=================*****=============== */

/* Volunteer Section End */

.volunteer-section {
  margin-top: 160px;
  margin-bottom: 160px;
}
.volunteer-section .volunteer-section-left {
  background-color: #17184a;
  padding-left: 41px;
  padding-top: 74px;
}

.volunteer-header {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Source Serif Pro";
  text-align: center;
}
.volunteer-description {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
}
.volunteer-button .button {
  padding: 15px 28px;
  border-radius: 12px;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #333333;
  font-weight: 500;
  text-decoration: none;
  font-family: "Poppins";
}
.volunteer-button .button:hover {
  
  color: #ff0000;
}


/* Volunteer Section End */

/* ==============*****==================
=================*****=============== */

/* Service Section Start */

.service-text-section {
  background-color: #25ab5c;
  padding-top: 74px;
  padding-left: 114px;
}
.service-header {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Source Serif Pro";
}
.service-description {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
}
.service-button .button{
  padding: 15px 28px;
  border-radius: 12px;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #333333;
  font-weight: 500;
  text-decoration: none;
  font-family: "Poppins";
}
.service-button .button:hover {
  color: #ff0000;
}

/* Service Section End */

/* ==============*****==================
=================*****=============== */

/* Event Section Start */

.event-buttons {
  margin-top: 50px;
}
.event-buttons .margin-right{
  margin-right: 25px;
}
.block-button {
  border-radius: 2px;
  color: #ffffff;
  outline: 0;
  display: inline-block;
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  font-family: "Poppins";
  border: none;
  padding: 2% 3%;
  margin-bottom: 2.5%;
  }

.event-image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.event-image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.event-overlay-image {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  max-width: 82%;
  max-height: 100%;
}
.event-sub-header {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ed213f;
  font-weight: 500;
  font-family: "Poppins";
}
.event-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.event-content {
  padding-left: 3rem;
  padding-right: 3rem;
  width: auto;
}
.event-description {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #333333;
  font-weight: 400;
  font-family: "Poppins";
}
.event-section-header {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 32px;
  color: #17184a;
  font-weight: 700;
  font-family: "Source Serif Pro";
}
.event-shedule {
  display: flex;
  justify-content: space-between;
}
.event-shedule-inner {
  font-size: 16px;
  line-height: 28px;
  color: #232323;
  font-weight: 500;
  font-family: "Poppins";
}
.event-button {
  margin-top: 45px;
}

.event-button .button {
  padding: 22px 28px 21px;
  border-radius: 12px;
  background-color: #ffffff;
  border: 1px solid red;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #ff0000;
  font-weight: 500;
  font-family: "Poppins";
  text-decoration: none;
}
.event-button .button:hover {
  color: #ff0000;

}


/* Event Section End */

/* ==============*****==================
=================*****=============== */

/* Scholarship Section Start */

.scholarship-section {
  margin-top: 160px;
  margin-bottom: 160px;
}
.scholarship-section .scholarship-section-left {
  background-color: #ed213f;
  padding-left: 38px;
  padding-top: 73px;
}

.scholarship-header {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Source Serif Pro";
  text-align: center;
}
.scholarship-description {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
}
.scholarship-button .button {
  padding: 15px 28px;
  border-radius: 12px;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 32px;
  color: #333333;
  font-weight: 500;
  text-decoration: none;
  font-family: "Poppins";
}
.scholarship-button .button:hover {
  color: #ed213f;
}


/* Scholarship Section End */

/* ==============*****==================
=================*****=============== */

/* Testimonial Section Start */

@media (max-width: 576px) {
  .carousel-indicators {
    display: none;
  }
}
.testimonial-section {

}
.testimonial-header {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 32px;
  color: #17184a;
  font-weight: 700;
  font-family: "Source Serif Pro";
}
.carousel-inner {
  height: 300px;
}

.slider-controls {
  text-align: center;
  
  
}

.slider-controls .carousel-control-prev,
.slider-controls .carousel-control-next {
  margin-top: 145px;
  display: block;
  width: 30px;
  height: 30px;
  color: #000000;
  border: 1px solid #ed213f;
  border-radius: 50%;
  opacity: .8;
}


.slider-controls .carousel-control-prev:hover,
.slider-controls .carousel-control-next:hover {
  opacity: 1;
  color: #ff0000;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.card p {
  margin-bottom: 1rem;
}


/* Navbar Section End */

/* ==============*****==================
=================*****=============== */

/* Footer Section Start */




/* Footer Section End */


/* MediaQuery Section */

@media screen and (max-width: 480px) {


  .banner-section .banner-text {
    position: absolute;
    top: 24px;
    left: 18px;
  }
  .banner-section .banner-text .banner-smallText {
    font-size: 8px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #27e9ff;
    font-weight: 500;
    font-family: "Poppins";
  }
  
  .banner-section .banner-text .largeText {
    margin-top: 1.2rem;
    margin-bottom: .9rem;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Source Serif Pro";
  }
  .banner-section .banner-text .largeText span {
    color: #27e9ff;
  }
  .banner-section .banner-text .banner-description {
    opacity: 0.851;
    width: 90%;
    height: auto;
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
  }
  .banner-section .banner-button {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
   
  }
  .banner-section .banner-button .button {
      padding: 6px 9px 6px;
      border-radius: 5px;
      background-color: #ed213f;
      font-size: 8px;
      letter-spacing: 1px;
      line-height: 12px;
      color: #ffffff;
      font-weight: 500;
      font-family: "Poppins";
      text-decoration: none;
  }

  .activity-section {
    background-color: #ed213f;
    width: 100%;
    height: auto;
    padding: 25px;
    text-align: center;
  }



}
@media only screen and (max-width: 1002px) and (min-width: 877px){
 
  .navbar .nav-item {
    padding: 0px 10px;
  }
  .navbar .nav-link {
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    font-family: "Poppins";
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}
}

@media only screen and (max-width: 876px) and (min-width: 576px){
 
  .navbar .nav-item {
    padding: 0px 5px;
  }
  .navbar .nav-link {
    font-size: 12px;
    color: #333333;
    font-weight: 400;
    font-family: "Poppins";
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}
}

@media only screen and (max-width: 991px)  {

  .about-container {
    padding-top: 75px;
    padding-bottom: 75px;
    margin: 0 auto;
    width: 80%;
    height: auto;
  }
  .about-image-section img {
    width: 100% !important;
    height: auto;
  }
  .activity-description {
    width: 90%;
    
  }
  
}

@media only screen and (max-width: 767px) and (min-width: 481px) {
  .banner-section .banner-text {
    position: absolute;
    top: 55px;
    left: 35px;
  }
  .banner-section .banner-text .banner-smallText {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #27e9ff;
    font-weight: 500;
    font-family: "Poppins";
  }
  
  .banner-section .banner-text .largeText {
    margin-top: 1.2rem;
    margin-bottom: .8rem;
    font-size: 24px;
    letter-spacing: 3px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Source Serif Pro";
  }
  .banner-section .banner-text .largeText span {
    color: #27e9ff;
  }
  .banner-section .banner-text .banner-description {
    opacity: 0.851;
    width: 75%;
    height: auto;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
  }
  .banner-section .banner-button {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
   
  }
  .banner-section .banner-button .button {
      padding: 8px 12px 8px;
      border-radius: 5px;
      background-color: #ed213f;
      font-size: 10px;
      letter-spacing: 1px;
      line-height: 12px;
      color: #ffffff;
      font-weight: 500;
      font-family: "Poppins";
      text-decoration: none;
  }
  
}

@media only screen and (max-width: 1076px) and (min-width: 768px) {
  .banner-section .banner-text {
    position: absolute;
    top: 90px;
    left: 70px;
  }
  .banner-section .banner-text .banner-smallText {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #27e9ff;
    font-weight: 500;
    font-family: "Poppins";
  }
  
  .banner-section .banner-text .largeText {
    margin-top: 1.8rem;
    margin-bottom: 1.4rem;
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 48px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Source Serif Pro";
  }
  .banner-section .banner-text .largeText span {
    color: #27e9ff;
  }
  .banner-section .banner-text .banner-description {
    opacity: 0.851;
    width: 75%;
    height: auto;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
  }
  .banner-section .banner-button {
    margin-top: 2rem;
    margin-bottom: 0 !important;
   
  }
  .banner-section .banner-button .button {
      padding: 12px 18px 12px;
      border-radius: 5px;
      background-color: #ed213f;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 12px;
      color: #ffffff;
      font-weight: 500;
      font-family: "Poppins";
      text-decoration: none;
  }
}

/* MediaQuery For About Section */
@media only screen and (max-width: 1292px) and (min-width: 992px) {

  .about-container {
    padding-top: 50px;
    padding-bottom: 36px;
    margin: 0 auto;
    width: 450px;
    height: auto;
  }

  .about-container .about-description {
    margin-top: 1rem;
    margin-bottom: 2.1rem;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #333333;
    font-weight: 400;
    font-family: "Poppins";
  }
  .about-container .about-button .button {
    padding: 16px 24px 16px;
    border-radius: 12px;
    background-color: #ffffff;
    border: 1px solid red;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ff0000;
    font-weight: 500;
    font-family: "Poppins";
    text-decoration: none;
}

}



